<div class="row m-3" >
  <%= form_for(@task) do |f| %>
    <h1>New task</h1>
    <%= f.label :title, class:"col-12" %>
    <%= f.text_field :title, class:"col-12 col-lg-3" %>
    <%= f.label :details, class:"col-12" %>
    <%= f.text_area :details, class:"col-12 col-lg-3", rows: 2 %>
    <div><%= f.submit class: "btn btn-primary col-10 col-lg-3 mt-3" %></div>
  <% end %>
<%= link_to tasks_path, class: "text-decoration-none mt-3 border-top pt-3"  do%>
  <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
<% end %>
</div>
